body{
    background: white;
}
#container{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}
#header{
    color:aliceblue;
    text-align: center;
}
.logo{
    color: black;
    background-color:transparent;
    text-align: center;
}
.social-icons{
    padding: 80px;
}
#content{
    padding: 10px;
}
.topnav{
    display: flex;
    justify-content: center;
    margin-left: 30px;
    align-items: center;
    
}
#navigation{
    display: flex;
    justify-content: center;
    background: transparent; 
    align-items: center;
}
#main{
    color: black;

}
#footer{
    clear: both;
    text-align: center;
    right: 50%;
    left: 50%;
    color: black;
}
.know-more{
    text-align: center;
    clear: both;
}