body{
    color: wheat;
    background-image: url(signup.jpg);
    text-align: center;
}
.topnav{
    background-color: wheat;
    color: aliceblue;
    text-align: center;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
}
.topnav-right{
    text-align: right;
    padding-bottom: 10px;
}
.signup{
    color: white;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color:transparent;
    border-radius: 5px;
    width: 180px;
}
input[type="submit"]{
    background-color: white;
    cursor: pointer;
    border: none;
    color: black;
}
input[type="submit"]:hover{
    background: color 45a 49px; ;
}
input[type=""],text[type="password"],nput[type="submit"]{
    display: inline-block;
    box-sizing: border-box;

}
